* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    /* background-color: #f9f9f9; */

}


.nav-item a {
    font-size: 14px;
}

.firt {
    margin-top: 30px;
}

.firt, .fist-title{
    background-color: #435D7D ;
}

.fist-title {
    /* margin-left: 20px;
    margin-right: 20px; */
    margin-top: 20px;
    padding: 10px;
    background-color: #435D7D;
    
}

.fist-title .title a {
    font-size: 28px;
    text-decoration: none;
    color: #ddd;
    background-color: #435D7D;
}

.btn-title {
    /* height: 30px; */
    /* width: auto; */
    /* background-color: #435D7D; */
}

.btn-del {
    /* width: 60px; */
    margin-right: -30px;
}

.btn-add {
    /* width: 150px; */

}
 .col-9 ,.btn-del, .btn-add{
    background-color: #435D7D;
}

.two .row{
    padding: 0px 20px;
    /* margin-top: 10px; */
}

.check {
    text-align: center;
}

.row-title {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    /* margin: 0px; */
    /* padding-top: 10px; */
}

.row-conten {
    margin: 0px;
    /* border-top: 1px solid #ccc; */
    border-bottom: 1px solid #ccc;
}

.two .row-title p {
    font-weight: 700;
}

.two .row p {
    padding: 0px 10px;
    padding-top: 10px;
}

.row-conten:nth-child(even) div p,.row-conten:nth-child(even) div, .row-conten:nth-child(even){
    background-color: #FCFCFC;
}

.fa-pen {
    color: #FFCA2A;
}

.fa-trash {
    color: #F45549;
}

.action i {
    margin-right: 15px;
}


.f-title p {
    color: #03A9F4;
} 

.f-tab ul li {
    list-style-type: none;
    /* margin-left: px; */
    padding: 5px 10px;
}

.f-tab ul li:nth-child(4) {
    background-color: #03A9F4;
    color: aliceblue;
}

.three {
    margin-top: 20px;
    justify-content: space-between;
    text-align: center;
    padding-top: 10px;
}